/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-02-03, 23:34:10
    Author     : ext
*/

body {
    background-color: #000026;
    font-family: 'Ewert', sans-serif;
    color: #000;
}
.font-content {
    font-family: 'Fondamento', sans-serif;
    
}